# Discord Bot Credentials
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here

# MongoDB Atlas Connection URI
# Obtén tu URI en https://cloud.mongodb.com -> Connect -> Drivers
MONGODB_URI=mongodb+srv://usuario:password@cluster0.abcde.mongodb.net/vortex?retryWrites=true&w=majority

# Bot Defaults
DEFAULT_PREFIX=>>

# Optional Guild ID for instant Slash Command registration during development
DEV_GUILD_ID=
